/.yarn
/.vscode
/.husky
/.github
/.storybook
/.editorconfig
/.git
/node_modules
/.parcel-cache

/dist
/coverage
**/__snapshots__

/.DS_Store
**/.DS_Store
/.idea
**/.idea
/package.tgz

**/*.test.*
**/*.stories.*
